
body {
  background-color: var(--primary);
}

.logo {
  background-image: url(/img/logo-small.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: block;
}

.sub-logo {
  background-image: url(/img/danseurs-250px.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: block;
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1rem !important;
  }
  .logo {
    width: calc(25%) !important;
  }
}

a {
  color: $link;
}

.navbar {

  background-color: var(--dark);

  .nav-item {
    min-width: 90px;

    &.home {
      min-width: unset;
    }
  }

  .dropdown-menu {
    top: 90%;
  }

  &.navbar-dark .navbar-nav {
    .nav-link {
      color: rgba(255, 255, 255, 0.9);
    }

    .nav-item.active .nav-link,
    .nav-link:hover {
      color: var(--primary);
    }

    .dropdown-item.active {
      color: var(--primary);
      background-color: var(--dark);
    }
  }
}

.main {
  background-color: white;
  border-start-start-radius: 16px;
  border-end-end-radius: 16px;

  h1:first-of-type, .h1:first-of-type {
    background-color: var(--secondary);
    color: white;
    border-start-start-radius: 16px;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
  }

  h1, .h1,
  h2, .h2 {
    color: var(--secondary);
    padding-left: 15px;
  }
  p img {
    max-width: 100%;
    height: auto;
  }
  video {
    max-width: 100%;
  }

  .card {
    &.card-link {
      .card-img-top {
        height: 200px !important;
        overflow: hidden !important;;
        display: block !important;;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position-y: center !important;
      }

      &:hover {
        border-color: rgb(13, 110, 253);
        box-shadow: 0 0 10px 2px rgb(13, 110, 253);
      }
    }

    .card-body {
      padding: 1.1rem;
      color: $dark;
      .card-subtitle {
        font-size: 0.8rem;
        text-align: end;
      }
      .card-text {
        color: gray;
        font-size: 0.9em;
      }
    }

    a,
    a:hover {
      text-decoration: none;
      color: inherit !important;
    }

  }

  blockquote {
    margin-inline-start: 8px;
    margin-inline-end: 8px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    font-size: 0.95rem;
  }
}

blockquote {
  border-left: 2px solid rgba(0,0,0,0.5);
  padding-left: 8px;
  background-color: rgba(0,0,0,0.09);
  font-style: italic;
}

.visible {
  visibility: hidden;
  display: unset;
}
.invisible {
  visibility: visible;
  display: none;
}

// < small screen size
@media (max-width: 575px) {
  .invisible-xs {
    display: none;
    visibility: hidden;
  }
  .pl-xs-0 {
    padding-left: 0 !important;
  }
  .padding-md {
    padding: 0 !important;
  }

  .container {
    padding: 0 8px !important;
    margin-top: 16px !important;
    .row {
      margin: 0 !important;
    }
  }
  .main {
    margin: 0 !important;
    .card {
      margin-top: 0;
      margin-bottom: 16px;
    }

    table {
      background-color: white !important;
      max-width: calc(100%);
      th, td {
        font-size: smaller;
        overflow-wrap: anywhere;
      }
    }
  }
  h1:first-of-type, .h1:first-of-type {
    margin-left: -15px;
  }
  .h1, h1 {
    font-size: 1.5rem;
  }
  .h2, h2 {
    font-size: 1.3rem;
  }
  .h3, h3 {
    font-size: 1.2rem;
  }
}
// small screen size
@media (min-width: 576px) and (max-width: 767px) {
  .pl-sm-0 {
    padding-left: 0 !important;
  }
  .invisible-sm {
    display: none;
    visibility: hidden;
  }

  .main {
    .card {
      margin-top: 16px;
    }

    .h1, h1 {
      font-size: 1.7rem;
    }
    .h2, h2 {
      font-size: 1.5rem;
    }
  }
}
// < medium screen size
@media (max-width: 767px) {
  .visible-md {
    display: none;
    visibility: hidden;
  }
  .visible-lg {
    display: none;
    visibility: hidden;
  }
}

// medium screen size
@media (min-width: 768px) and (max-width: 991px) {
  .visible-lg {
    display: none;
    visibility: hidden;
  }
  .visible-md.visible-lg {
    display: unset !important;
    visibility: visible !important;
  }
  .invisible-md {
    display: none;
    visibility: hidden;
  }
  .padding-md {
    padding: 8px;
  }
}

// large screen size
@media (min-width: 992px) {
  .invisible-lg {
    display: none;
    visibility: hidden;
  }
  .padding-bottom-lg {
    padding-bottom: 8px;
  }
}
.col-right-banner {
  background-color: $tertiary; //var(--primary);
  border-radius: 8px;
  margin-left: 15px !important;
  margin-right: -15px !important;
  padding: 0 !important;
  font-size: 0.9rem;

  h1, .h1 {
    color: white !important;
    font-size: 1.5rem;
    padding: 4px;
    text-align: center;
    background-color: var(--dark);
    border-start-end-radius: 12px;
    margin-bottom: 0;
  }
  h2, .h2 {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--secondary);
    border-start-end-radius: 12px;
    border-end-start-radius: 12px;
    padding: 6px 10px;
  }
  h1 + h2 {
    border-start-end-radius: 0 !important;
  }
  blockquote {
    padding-left: 4px !important;
  }
  p, blockquote {
    font-size: 0.8rem;
    margin-inline-start: 8px;
    margin-inline-end: 8px;
    padding-inline-end: 8px;
  }

  img {
    max-width: 100%;
    height: unset !important;
  }

  .row {
    margin-left: -8px !important;
    margin-right: -8px !important;
  }
}

.smaller-title {
  h1, .h1 {
    font-size: 2rem !important;
  }
  h2, .h2 {
    font-size: 1.2rem !important;
    color: var(--secondary);
  }
  h3, .h3 {
    font-size: 1rem !important;
    color: var(--secondary);
  }
}

.hide-title {
  h1, .h1, h2, .h2 {
    visibility: hidden;
    display: none;
  }
}

/* Markdown table */

table,
table>thead>tr>th,
table>thead>tr>td, table>tbody>tr>th, table>tbody>tr>td, table>tfoot>tr>th, table>tfoot>tr>td {
  border: 1px solid #ddd;
}

table {
  width: auto;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;

  & > caption+thead>tr:first-child>th,
  & > caption+thead>tr:first-child>td,
  & > colgroup+thead>tr:first-child>th,
  & > colgroup+thead>tr:first-child>td,
  & > thead:first-child>tr:first-child>th,
  & > thead:first-child>tr:first-child>td {
    border-top: 0;
  }

  & > thead>tr>th,
  & > thead>tr>td {
    border-bottom-width: 2px;
  }

  &>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }
  &>thead>tr>th {
    padding: 8px;
    border-top: 1px solid #ddd;
  }
  th, td {
    padding: 12px;
  }
  th {
    text-align: left;
  }

  &>tbody>tr:nth-child(odd)>td,
  &>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
  }
}

/* -- avatar -- */

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  background-size: cover;

  &.avatar-16 {
    width: 16px;
    height: 16px;
  }
  &.avatar-32 {
    width: 32px;
    height: 32px;
  }
  &.avatar-64 {
   width: 64px;
   height: 64px;
  }
}

// Forum emoji
img.emoji {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.text-end {
  text-align: end;
}

// Forum
.article.forum {
  .meta {
    visibility: hidden;
    display: none;
  }

  p.footer {
    font-size: 12pt;
  }
}
