//$primary:       #17a2b8 !default;
$primary:       #fae618;
$secondary:     #ee2c32;
$tertiary:      #f8ef91;
$info: #004899;
$link: #004899;
//$link:          #0d83be;

$danger:        #ee2c32;
$dark:       #000000;

/*
$primary:      #17a2b8;
$link: #0d83be;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;*/

