
    </div>
  </div>

    <div class="footer mt-5">
      <hr>
      <div class="row">
        <div class="col pl-5 pl-xs-0 pl-sm-0 pl-md-0">
          <p>Rechercher un contenu :<br/>
            <form class="form-inline" action="https://www.google.com/search" method="get" onSubmit="doSiteSearch(this)">
              <input name="q" type="hidden" />
              <div class="form-group mb-2">
                <input name="qfront" class="form-control" type="search" placeholder="Recherche" aria-label="Recherche">
                <button class="btn btn-outline-dark" type="submit">Chercher</button>
              </div>
            </form>
          </p>
        </div>

        <div class="col text-center invisible-xs invisible-sm invisible-md">
          Vous voyez une erreur ?<br/>
          <a type="button" class="btn btn-outline-dark"
             href="<%= editLink %><%= file.sourceMap.sources[0].replace('.html', '.md') %>">Modifier cette page</a>

        </div>

        <div class="col col-12 col-md-3">

          <a href="/social.html">Suivez-nous !</a>
            <a href="https://twitter.com/search?q=%23MayenneLiberte" class="visible-md" target="_blank"><i class="bi-twitter"></i></a>
            <a href="https://www.facebook.com/groups/1853356128159103" class="visible-md" target="_blank"><i class="bi-facebook"></i></a>
            <a href="https://t.me/joinchat/MX8Xr62UxFgzNzg0" class="visible-md" target="_blank"><i class="bi-telegram"></i></a>
          <br/>
          
          <a href="/qui-sommes-nous.html">Qui sommes nous ?</a><br/>

          <a href="/contact.html">Contact</a>

          <span class="text-info"> - </span>

          <a href="/licence.html">Licence</a><br/>
        </div>

      </div>

      <div class="row text-center pb-1 text-black-50">
        <div class="col col-12 col-md-9">
          <small>
          <%= homepage %> - v<%= version %> - dernière mise à jour : <%= date %>
          </small>
        </div>
        <div class="col col-12 col-md-3">
          <small>
            Contenu sous licence <a href="http://creativecommons.org/licenses/by-sa/3.0/fr/">
            <i class="bi-badge-cc"></i> CC-BY-SA</a>
          </small>
        </div>
      </div>
    </div>

    <!-- Start app -->
    <script type="text/javascript">
      init();
    </script>
  </body>
</html>
