<!DOCTYPE html>
<html lang="fr">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover,width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=yes,width=device-width,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Add open graph tags (for social networks) -->
    <meta property="og:title" content="<%= title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= image %>">
    <meta property="og:image:type" content="<%= imageType %>">
    <meta property="og:image:alt" content="<%= description %>">
    <meta property="og:site_name" content="<%= title %>">
    <meta property="og:locale" content="fr_FR">

    <title><%= title %></title>

    <link rel="stylesheet" href="/css/style.min.css?v5">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nanogallery2.min.js"></script>

    <script type="text/javascript" src="/js/app.js?v5"></script>

  </head>
  <body>

    <%= menuContent %>

    <div class="mt-0 mt-md-5 mt-lg-5 visible-md visible-lg float-left">
      <div class="sub-logo"></div>
      <div class="logo"></div>
    </div>

    <div class="container mt-3 mt-sm-5 mt-md-5 mt-lg-5">

      <div class="row">

        <div class="col-md-4 order-lg-3 mb-4 col-right-banner visible-lg">
          @@include('./agenda.html')

          @@include('./news.html')

          @@include('./social.html')

        </div>

        <div class="col-md-12 col-lg-8 order-lg-2 main">
