
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark autohide">
    <a class="navbar-brand text-primary" href="/">
      <small class="visible-md">Collectif</small>
      <i><b>Mayenne <br class="invisible-md"/><span style="color: white;">Liberté !</span></b></i>
    </a>

    <!-- Menu toggle -->
    <button class="navbar-toggler order-first" type="button"
            data-toggle="collapse"
            data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Afficher/Masquer le menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav mx-auto">

        <!-- Home -->
        <li class="nav-item home">
          <a class="nav-link" href="/">
            <i class="bi-house-door-fill"></i>
            Accueil
          </a>
        </li>

        <!-- Présentation -->
        <li class="nav-item dropdown dropdown-show-hover">
          <a class="nav-link dropdown-toggle" href="#" id="reinfoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi-patch-question-fill"></i>
            Présentation
          </a>
          <div class="dropdown-menu" aria-labelledby="reinfoDropdown">
            <a class="dropdown-item" href="/qui-sommes-nous.html">
              <i class="bi-people-fill"></i>
              Qui sommes-nous ?
            </a>
            <a class="dropdown-item" href="/social.html">
              <i class="bi-facebook"></i>
              Suivez-nous
            </a>
            <a class="dropdown-item" href="/contact.html">
              <i class="bi-phone-fill"></i>
              Contactez-nous
            </a>
          </div>
        </li>

        <!-- Agenda -->
        <li class="nav-item">
          <a class="nav-link" href="/agenda.html">
            <i class="bi-calendar2-week-fill"></i>
            Agenda
          </a>
        </li>

        <!-- Actualité -->
        <li class="nav-item dropdown dropdown-show-hover">
          <a class="nav-link dropdown-toggle" href="#" id="actuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi-rss-fill"></i>
            Actualité
          </a>
          <div class="dropdown-menu" aria-labelledby="actuDropdown">
            <a class="dropdown-item" href="/articles/edito.html">
              <i class="bi-pin-angle"></i>
              Édito
            </a>
            <a class="dropdown-item" href="/articles/events.html">
              <i class="bi-images"></i>
              Reportages
            </a>
            <a class="dropdown-item" href="/pages/videos.html">
              <i class="bi-youtube"></i>
              Vidéos
            </a>
          </div>
        </li>


        <!-- Se rencontrer -->
        <li class="nav-item dropdown dropdown-show-hover">
          <a class="nav-link dropdown-toggle" href="#" id="agirDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi-people-fill"></i>
            Se rencontrer
          </a>
          <div class="dropdown-menu" aria-labelledby="agirDropdown">
            <a class="dropdown-item" href="/pages/groupes.html">
              <i class="bi-signpost-split"></i>
              Trouver un groupe local
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/amis.html">
              <i class="bi-heart"></i>
              Collectifs amis
            </a>
          </div>
        </li>

        <!-- Agir -->
        <li class="nav-item dropdown dropdown-show-hover">
          <a class="nav-link dropdown-toggle" href="#" id="agirDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi-gear-fill"></i>
            Agir
          </a>
          <div class="dropdown-menu" aria-labelledby="agirDropdown">
            <div class="dropdown-header">Action thématique :</div>
            <a class="dropdown-item" href="/pages/sante.html">
              <i class="bi-thermometer-half"></i>
              Santé
            </a>
            <a class="dropdown-item" href="/pages/juridique.html">
              <i class="bi-shield-check"></i>
              Juridique
            </a>
            <a class="dropdown-item" href="/pages/parents.html">
              <i class="bi-briefcase"></i>
              Parents d'élèves
            </a>
            <a class="dropdown-item" href="/pages/victimes.html">
              <i class="bi-eyedropper"></i>
              Victimes vaccins Covid-19</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">Organisation du collectif :</div>
            <a class="dropdown-item" href="/pages/manifestations.html">
              <i class="bi-cone-striped"></i>
              Manifestations
            </a>
            <a class="dropdown-item" href="/pages/communication.html">
              <i class="bi-camera"></i>
              Communication</a>

            <a class="dropdown-item" href="/pages/chansons.html">
              <i class="bi-music-note-list"></i>
              Chansons & Paroles</a>
          </div>
        </li>


        <!-- Vidéos
        <li class="nav-item">
          <a class="nav-link" href="/videos.html">
            <i class="bi-youtube"></i>
            Vidéos
          </a>
        </li>-->

        <!-- Forum -->
        <li class="nav-item">
          <a class="nav-link" href="https://forum.mayennelibre.fr" target="_blank">
            <i class="bi-chat-quote-fill"></i>
            Forum
            <small><i class="bi-box-arrow-up-right"></i></small>
          </a>
        </li>

        <!-- Vidéos
        <li class="nav-item active">
          <a class="nav-link" href="/videos.html">Vidéos</a>
        </li> -->

        <!-- Radio
        <li class="nav-item ">
          <a class="nav-link" href="http://radio.mayennelibre.fr">Radio</a>
        </li>-->
      </ul>
    </div>
  </nav>
