<div class="row">
  @@for (var i = 0; i < pictureThumbnails.length; i++) {
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 padding-md">
    <a href="`+pictures[i]+`" data-toggle="lightbox" data-gallery="@@gallery" class="md-4">
      <img src="`+pictureThumbnails[i]+`" class="img-fluid">
    </a>
  </div>
  }
</div>

<div class="@@videoClass">
  <h2>Vidéos</h2>
  <div class="row">
    @@for (var i = 0; i < videoThumbnails.length; i++) {
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 padding-md">
      <div class="embed-responsive embed-responsive-16by9">
        <video
            class="embed-responsive-item"
            controls
            preload="auto"
            poster="`+videoThumbnails[i]+`"
            data-setup='{}'>
          <source src="`+videos[i]+`" type="video/mp4"></ource>
        </video>
      </div>

    </div>
    }
  </div>
</div>


