<div class="row">
  @@for (var i = 0; i < items.length; i++) {
  <div class="padding-md @@class">
    <div class="card w-100`+(items[i].thumbnail ? ' card-link' : '')+`">
      <a href="`+items[i].url+`" class="card-img-top`+(items[i].thumbnail ? '' : ' invisible')+`"
         target="_blank"
         style="background-image: url(`+items[i].thumbnail+`);">
      </a>
      <video src="`+(!items[i].thumbnail ? items[i].url : '')+`" controls class="`+(items[i].thumbnail ? 'invisible' : '')+`"></video>
      <a class="card-body" href="`+items[i].url+`" target="_blank">
        <h5 class="card-title">`+items[i].title+`</h5>
        <h6 class="card-subtitle mb-2">
          <small class="text-info`+(items[i].category ? '' : 'invisible')+`">`+items[i].category+`</small>
          <span class="text-muted"> | </span>
          <span class="text-muted `+(items[i].dateStr ? '' : 'invisible')+`">`+items[i].dateStr+`</span>
        </h6>
        <p class="card-text">`+items[i].description+`</p>
      </a>
    </div>
  </div>
  }
</div>

<p class="text-right text-dark @@showMoreLinkClass">
  <small>
    <a href="@@showMoreLink">Voir plus &gt;&gt;</a>
  </small>
</p>

