<h1 class="@@titleClass">@@title</h1>

<div class="row">
  @@for (var i = 0; i < items.length; i++) {
  <div class="padding-md padding-bottom-lg @@class">
    <a class="card w-100`+(items[i].thumbnail ? ' card-link' : '')+`"
       href="`+items[i].path+`">
      <div class="card-img-top"
         style="background-image: url(`+items[i].thumbnail+`);">
      </div>
      <div class="card-body">
        <h5 class="card-title">`+items[i].title+`</h5>
        <h6 class="card-subtitle mb-2">
          <small class="text-info `+(items[i].category ? '' : 'invisible')+`">`+items[i].category+`</small>
          <span class="text-muted"> | </span>
          <span class="text-muted `+(items[i].dateStr ? '' : 'invisible')+`">`+items[i].dateStr+`</span>
        </h6>
        <p class="card-text">`+items[i].description+`</p>
      </div>
    </a>
  </div>
  }
</div>

<p class="text-right text-dark @@showMoreLinkClass">
  <small>
    <a href="@@showMoreLink">Voir plus &gt;&gt;</a>
  </small>
</p>

