<div id="@@gallery" data-nanogallery2='{
  "thumbnailBorderVertical": 0,
  "thumbnailBorderHorizontal": 0,
  "thumbnailHoverEffect2": "imageScale150",
  "thumbnailOpenImage": true,
  "thumbnailWidth": "auto",
  "thumbnailLabel": {
    "titleFontSize": "0.9em",
    "position": "overImageOnBottom",
    "titleMultiLine": true
  }
}'>
  @@for (var i = 0; i < thumbnails.length; i++) {
  <a data-ngsrc="`+sources[i]+`"
     data-ngthumb="`+thumbnails[i]+`"
     >`+titles[i]+`
    <img src="`+thumbnails[i]+`">
  </a>
  }
</div>


